@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  margin: 0;
  background: #ffffff;
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add these styles to your existing Tailwind CSS styles or create a separate CSS file */
.sidebar {
  width: 80px;
  transition: width 0.3s;
}

.sidebar-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.main-content {
  transition: margin-left 0.3s;
}

.sidebar-open .sidebar {
  width: 200px; /* Adjust the width as needed */
}

.sidebar-open .main-content {
  margin-left: 200px; /* Adjust the margin as needed */
}
.square-avatar {
  height: 100%;
}


.container {
  color: #0C0E1B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(39, 42, 85);
  background: radial-gradient(circle, #FEF0AE 0%, #FFFFFF 65%);
}

.container h1 {
  font-size: 2.6rem;
  margin-bottom: 0.2rem;
}

.container .labels {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.3rem 0.3rem;
  background-color: #FEF0AE;
  border-radius: 1.5rem;
}

.active-label {
  color: #0C0E1B;
  background-color: #FE6F6B;
}

.timer-container {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
}

.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 20rem;
  border-radius: 13rem;
  color: #0C0E1B;
  background: #FEF0AE;
  font-size: 5rem;
  box-shadow: 1rem 1.5rem 2rem rgba(173, 155, 155, 0.6);
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

button {
  color: #0C0E1B;
  font-size: 0.8rem;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 3rem;
  margin: 0.2rem;
  background: #FFFFFF;
  min-width: 80px;
  cursor: pointer;
}

.button-wrapper button.active {
  color: #0C0E1B;
  background-color: #C9CCEA;
  border: 1px solid #ffffff;
}

.form-container {
  text-align: center;
}

.input-wrapper {
  margin: 1.5rem;
}

.input-wrapper input {
  height: 100px;
  width: 100px;
  padding: 2rem;
  background-color: #0C0E1B;
  color: #C9CCEA;
  border: none;
  border-radius: 50%;
  margin-right: 0.3rem;
  text-align: left;
  font-size: 14pt;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.input-group label {
  font-size: 0.8rem;
  color: #141413;
  margin-bottom: 0.5rem;
}